<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>VideoServer</servlet-name>
		<servlet-class>com.virtualsoundnw.videoserver.VideoServerServlet</servlet-class>
		<load-on-startup>2</load-on-startup> 
	</servlet>
	<servlet-mapping>
		<servlet-name>VideoServer</servlet-name>
		<url-pattern>/video</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RatingServer</servlet-name>
		<servlet-class>com.virtualsoundnw.videoserver.RatingServerServlet</servlet-class>
		<load-on-startup>3</load-on-startup> 
	</servlet>
	<servlet-mapping>
		<servlet-name>RatingServer</servlet-name>
		<url-pattern>/rating</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServer</servlet-name>
		<servlet-class>com.virtualsoundnw.videoserver.UserServerServlet</servlet-class>
		<load-on-startup>4</load-on-startup> 
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowServer</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowServer</servlet-name>
		<servlet-class>com.virtualsoundnw.videoserver.ShowServerServlet</servlet-class>
		<load-on-startup>5</load-on-startup> 
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServer</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Debug</servlet-name>
		<servlet-class>com.virtualsoundnw.videoserver.DebugServlet</servlet-class>
		<load-on-startup>6</load-on-startup> 
	</servlet>
	<servlet-mapping>
		<servlet-name>Debug</servlet-name>
		<url-pattern>/debug</url-pattern>
	</servlet-mapping>
	<listener> 
		<listener-class>com.virtualsoundnw.videoserver.VideoListener</listener-class> 
	</listener>
		<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>